.register{
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1493219686142-5a8641badc78?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjV8fHdoaXRlJTIwYmFja2dyb3VuZCUyMHdlbGNvbWV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}
.registerTitle{
    /* color: white; */
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm >label{
    /* color: white; */
    margin: 10px 0;
    font-size: 18px;
}
.registerInput{
    padding: 10px;
    background-color: white;
    border: none;
    margin-bottom: 25px;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: lightcoral;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}